In [10]:
import pandas as pd
import matplotlib.pyplot as plt

vehicle_df = pd.read_csv('home (11)/vehicle.csv')
accident_df = pd.read_csv('home (11)/accident.csv')

先看看这两个数据长啥样

In [11]:
vehicle_df.head(3)

,ACCIDENT_NO,VEHICLE_ID,VEHICLE_YEAR_MANUF,VEHICLE_DCA_CODE,INITIAL_DIRECTION,ROAD_SURFACE_TYPE,ROAD_SURFACE_TYPE_DESC,REG_STATE,VEHICLE_BODY_STYLE,VEHICLE_MAKE,...,TRAILER_TYPE,VEHICLE_COLOUR_1,VEHICLE_COLOUR_2,CAUGHT_FIRE,INITIAL_IMPACT,LAMPS,LEVEL_OF_DAMAGE,TOWED_AWAY_FLAG,TRAFFIC_CONTROL,TRAFFIC_CONTROL_DESC
0,T20120000009,A,1996.0,1.0,E,1.0,Paved,V,SEDAN,HOLDEN,...,H,WHI,ZZ,2.0,1,1.0,5,1.0,0.0,No control
1,T20120000012,A,2002.0,1.0,W,1.0,Paved,V,SEDAN,HOLDEN,...,H,BLU,ZZ,2.0,1,1.0,2,2.0,1.0,Stop-go lights
2,T20120000012,B,1988.0,2.0,S,1.0,Paved,V,SEDAN,TOYOTA,...,H,WHI,ZZ,2.0,5,9.0,4,1.0,1.0,Stop-go lights

In [12]:
accident_df.head(3)

,ACCIDENT_NO,ACCIDENT_DATE,ACCIDENT_TIME,ACCIDENT_TYPE,ACCIDENT_TYPE_DESC,DAY_OF_WEEK,DAY_WEEK_DESC,DCA_CODE,DCA_DESC,LIGHT_CONDITION,...,NO_PERSONS_INJ_2,NO_PERSONS_INJ_3,NO_PERSONS_NOT_INJ,NO_PERSONS,POLICE_ATTEND,ROAD_GEOMETRY,ROAD_GEOMETRY_DESC,SEVERITY,SPEED_ZONE,RMA
0,T20120000046,2012-01-01,16:25:00,2,Struck Pedestrian,1,Sunday,102,FAR SIDE. PED HIT BY VEHICLE FROM THE LEFT,1,...,0,1,1,2,1,2,T intersection,3,60,Arterial Other
1,T20120000062,2012-01-01,18:00:00,4,Collision with a fixed object,1,Sunday,173,RIGHT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICLE,1,...,1,0,0,1,1,5,Not at intersection,2,100,NaN
2,T20120000060,2012-01-01,19:40:00,6,Vehicle overturned (no collision),1,Sunday,184,OUT OF CONTROL ON CARRIAGEWAY (ON BEND),1,...,1,0,0,1,1,2,T intersection,2,60,Local Road

看看分别有多少features

In [14]:
vehicle_df.shape[1]

37

In [15]:
accident_df.shape[1]

23

看看两个数据库有没有一样的feature

In [17]:
vehicle_df.columns.intersection(accident_df.columns)

Index(['ACCIDENT_NO'], dtype='object')

看来要合并文档只能通过'ACCIDENT_NO'了

In [18]:
vehicle_df.isnull().sum()

ACCIDENT_NO                    0
VEHICLE_ID                     0
VEHICLE_YEAR_MANUF          6927
VEHICLE_DCA_CODE             821
INITIAL_DIRECTION              1
ROAD_SURFACE_TYPE              1
ROAD_SURFACE_TYPE_DESC         1
REG_STATE                  20073
VEHICLE_BODY_STYLE         25018
VEHICLE_MAKE               18153
VEHICLE_MODEL              30546
VEHICLE_POWER             325889
VEHICLE_TYPE                   0
VEHICLE_TYPE_DESC              0
VEHICLE_WEIGHT            285237
CONSTRUCTION_TYPE          64069
FUEL_TYPE                  18161
NO_OF_WHEELS               40962
NO_OF_CYLINDERS            33737
SEATING_CAPACITY           56058
TARE_WEIGHT                11942
TOTAL_NO_OCCUPANTS            23
CARRY_CAPACITY            285390
CUBIC_CAPACITY            280790
FINAL_DIRECTION                1
DRIVER_INTENT                  4
VEHICLE_MOVEMENT               6
TRAILER_TYPE                  36
VEHICLE_COLOUR_1               0
VEHICLE_COLOUR_2              29
CAUGHT_FIRE                    1
INITIAL_IMPACT               233
LAMPS                          1
LEVEL_OF_DAMAGE                0
TOWED_AWAY_FLAG                3
TRAFFIC_CONTROL                3
TRAFFIC_CONTROL_DESC           3
dtype: int64

hmmm, 看起来这个文档缺失值很多啊

In [19]:
accident_df.isnull().sum()

ACCIDENT_NO              0
ACCIDENT_DATE            0
ACCIDENT_TIME            0
ACCIDENT_TYPE            0
ACCIDENT_TYPE_DESC       0
DAY_OF_WEEK              0
DAY_WEEK_DESC            0
DCA_CODE                 0
DCA_DESC                 0
LIGHT_CONDITION          0
NODE_ID                  0
NO_OF_VEHICLES           0
NO_PERSONS_KILLED        0
NO_PERSONS_INJ_2         0
NO_PERSONS_INJ_3         0
NO_PERSONS_NOT_INJ       0
NO_PERSONS               0
POLICE_ATTEND            0
ROAD_GEOMETRY            0
ROAD_GEOMETRY_DESC       0
SEVERITY                 0
SPEED_ZONE               0
RMA                   8644
dtype: int64

这边好很多